/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Poppins';
    background-color: #16161B;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0em;
    height: 0em;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

/* Navigation */
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #16161B;
    z-index: 100;
}

nav {
    padding: 4em;
}

nav ul {
    display: flex;
    gap: 4.1em;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;
    position: relative;
}

nav ul li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #175FFF;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

nav ul li a:hover::before {
    transform: scaleX(1);
}

/* Hero Section */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    margin: 30em 0 40em;
}

.hero h1 {
    font-size: 3rem;
    color: #F2F2F2;
    font-weight: 700;
    margin-bottom: 0.3em;
}

.hero p {
    font-size: 1.6rem;
    color: #D9D9D9;
    font-weight: 400;
    max-width: 35em;
    margin-bottom: 2em;
}

.action-buttons button {
    padding: 1em 2em;
    background-color: #175FFF;
    outline: none;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    transition: transform 0.2s;
    display: inline-block;
    text-decoration: none;
}

.action-buttons button:nth-child(2) {
    background-color: transparent;
    border: 1px solid #175FFF;
    margin-left: 1em;
}

.action-buttons button a {
    color: #fff;
    text-decoration: none;
}

.action-buttons button i {
    margin-left: 10px;
    color: #fff;
}

.action-buttons button:hover {
    cursor: pointer;
    transform: translateY(-2px);
    text-decoration: none;
}

/* About section */
.about {
    display: flex;
    margin-bottom: 25em;
}

.about-left {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-left h2 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #F2F2F2;
}

.about-left article p {
    padding-top: 0.5em;
    font-size: 1.5rem;
    font-weight: 500;
    color: #D9D9D9;
    max-width: 43em;
}

.about-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.image-left,
.image-right {
    width: 15em;
    height: 30em;
    border-radius: 3em;
    margin-left: 15px;
    transition: transform 0.2s;
}

.about-right img:hover {
    transform: translateY(-5px);
}

.about-right img:last-child {
    position: relative;
    top: -20px;
}

/* Skills Section */
.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15em;
}

.skills h2 {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 600;
    padding: 2em;
    color: #fff;
}

.programming-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.programming-card {
    background-color: #23232B;
    border-radius: 20px;
    padding: 20px;
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px;
    outline: transparent;
    transition: outline 0.5s ease, transform 0.5s ease;
}

.programming-card:hover {
    outline: 1px solid #43434d;
}

.programming-card h3 {
    font-size: 1.5rem;
    color: #FFFFFF;
    font-weight: 600;
    margin-bottom: 0.5em;
}

.programming-card p {
    font-size: 1.3rem;
    color: #FFFFFF;
    margin-bottom: 1em;
}

.programming-card img {
    width: 3em;
    height: auto;
    margin-bottom: 1.5em;
    border-radius: 0.8em;
}

/* Past Work */
.past-work h2 {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 600;
    padding: 2em;
    color: #fff;
}

.panel-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10em;
}

.panel-card {
    padding: 2em;
    margin-right: 2em; 
    background-color: #23232B;
    border-radius: 2em;
}

.panel-card:last-child {
    margin-right: 0; 
}

.panel-card img {
    max-width: 100%;
    height: auto;
    max-height: 50em; 
    margin: 0 auto;
    display: block;
    border-radius: 2em;
}

/* Resume section */
.resume {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10em;
}

.resume-images {
    display: flex;
}

.resume-images img {
    width: auto;
    height: 30em;
    border-radius: 3em;
    margin-bottom: 15px;
    transition: transform 0.2s;
}

.resume-images img:last-child {
    position: relative;
    top: -20px;
}

.resume-images img:hover {
    transform: translateY(-5px);
}

.resume-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20em;
}

.resume-right h2 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0.4em;
}

.resume-right p {
    font-size: 1.6rem;
    font-weight: 400;
    color: #D9D9D9;
    margin-bottom: 2em;
    max-width: 30em;
}

.resume-right button,
.resume-right button a {
    padding: 1em 1em;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    background-color: #175FFF;
}

.resume-right button {
    transition: transform 0.2s;
}

.resume-right button:hover {
    transform: translateY(-5px);
}

.resume-right button a i {
    margin-right: 1em;
}

/* Projects section */
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15em;
}

.projects h2 {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 600;
    padding: 2em;
    color: #fff;
}

.project-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1000px;
    margin-top: 2em;
}

.project-card {
    background-color: #23232B;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    outline: transparent;
    transition: outline 0.5s ease, transform 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    transition: transform 0.2s ease;
}

.project-card:hover {
    outline: 1px solid #43434d;
}

.project-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 2em;
}

.project-card h3 {
    font-size: 1.5rem;
    color: #FFFFFF;
    font-weight: 600;
    margin-bottom: 1em;
}

.project-description {
    flex: 1;
}

.project-description p {
    font-size: 1.3rem;
    color: #e4e2e2;
    font-weight: 400;
    margin-bottom: 1em;
    max-width: 21em;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: left;
    transition: transform 0.2s ease;
}

.project-features {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1em;
    margin-bottom: 3em;
}

.feature {
    display: flex;
    align-items: center;
    margin-bottom: 1.3em;
}

.feature i {
    font-size: 1.4em;
    color: #E1DDDD;
    margin-right: 0.5em;
}

.feature span {
    font-size: 1.3rem;
    color: #E1DDDD;
}

.learn-more-button {
    margin-top: auto;
    margin-bottom: 1em;
}

.learn-more-button a {
    padding: 1em 8.6em;
    background-color: #33333D;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 400;
    font-size: 1.2em;
    text-decoration: none;
}

/* Achievements section */
.achievements {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10em;
}

.achievements h2 {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 600;
    padding: 2em;
    color: #fff;
}

.achievements-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.achievements-card {
    background-color: #23232B;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    outline: transparent;
    transition: outline 0.5s ease, transform 0.5s ease;
    flex: 0 0 calc(33.33% - 20px);
}

.achievements-card:hover {
    outline: 1px solid #43434d;
}

.achievements-card h3 {
    font-size: 1.5rem;
    color: #FFFFFF;
    font-weight: 600;
    margin-bottom: 0.5em;
}

.achievements-card p {
    font-size: 1.3rem;
    color: #FFFFFF;
    margin-bottom: 1em;
}

.achievements-card img {
    width: 3em;
    height: auto;
    margin-bottom: 1.5em;
    border-radius: 10em;
    margin-right: 0.5em;
}

.achievements-link-card {
    width: 3em;
    height: auto;
    border-radius: 10em;
    transition: transform 0.2s ease;
}

.achievements-link-card:hover {
    transform: translateY(-5px);
}

.social-media-card a {
    text-decoration: none;
}

.social-media-card h3 {
    margin-bottom: 1em;
    font-weight: 600;
}

.social-media-text p {
    background-color: #32323C;
    padding: 1em;
    border-radius: 12px;
    text-align: center;
}

.social-media-card i {
    margin-right: 0.5em;
}

/* Services */
.services-card-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10em;
    gap: 2em;
}

.services h2 {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 600;
    padding: 2em;
    color: #fff;
}

.services-card {
    border-radius: 20px;
    padding: 3em;
    width: 30%;
    outline: 1px solid #3f3f4f;
    transition: outline 0.5s ease, transform 0.5s ease;
}

.services-card:hover {
    outline: 1px solid #676776;
}

.services-title {
    font-size: 1.8rem;
    font-weight: 600;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 1em;
}

.services-description {
    color: #c8c5c5;
    margin-bottom: 2em;
    font-size: 1.2em;
    text-align: left;
}

.services-price h1 {
    color: #bdb9b9;
    font-weight: 500;
}

.services-price p {
    color: #e6e1e1;
    font-weight: 600;
    font-size: 3em;
    margin-bottom: 1em;
}

.package-features {
    list-style: none;
    padding: 0;
    margin-bottom: 5em;
}

.package-features li {
    font-size: 1.3rem;
    color: #E1DDDD;
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
}

.package-features li i {
    font-size: 1.3rem;
    color: #E1DDDD;
    margin-right: 0.5em;
}

.services-button {
    text-align: center;
    margin-top: 2em;
}

.services-button button {
    padding: 1em;
    background-color: #23232B;
    border-radius: 5px;
    margin-right: 1em;
    border: none;
    width: 100%;
    color: #fff;

}

.services-button button:hover {
    cursor: pointer;
}

.services-button a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 1.3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* FAQ section */
.faq {
    margin-top: 40px;
    margin-bottom: 25em;
}

.faq h2 {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 600;
    padding: 2em;
    color: #fff;
}

.faq-accordion {
    display: flex;
    flex-direction: column;
}

.faq-item {
    margin-bottom: 10px;
}

.faq-toggle {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border: none;
    outline: none;
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid #3f3f4f;
    color: #e9e4e4;
    font-weight: 600;
    font-size: 1.4em;
}

.faq-icon {
    font-size: 20px;
}

.faq-answer {
    padding: 10px;
    display: none;
    color: #c8c5c5;
    font-size: 1.3em;
}

.faq-answer a {
    text-decoration: none;
    color: #407af7;
}

/* Footer Styles */
footer {
    background-color: #16161B;
    color: #fff;
    padding: 2em 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-logo img {
    max-width: 40px;
    height: auto;
    border-radius: 10em;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.footer-links ul li {
    margin-right: 20px;
}

.footer-links ul li:last-child {
    margin-right: 0;
}

.footer-links ul li a {
    text-decoration: none;
    color: #bbbbc0;
    font-weight: 400;
    font-size: 1.3rem;
}

.footer-social a {
    text-decoration: none;
    color: #cccccd;
    margin-right: 20px;
    font-size: 1.5em;
}

.footer-bottom {
    background-color: #111;
    padding: 10px 0;
    text-align: center;
}

.scroll-fade {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}

.scroll-fade.fade-in {
    opacity: 1;
    transform: translateY(0);
}

@media screen and (max-width: 1150px) {

    .achievements-row {
        flex-direction: column;
        align-items: center;
    }

    .achievements-card {
        flex: 0 0 calc(100% - 20px);
        margin-right: 0;
        margin-left: 0;
        width: 100%;
        margin-bottom: 20px;
    }

    .services-card-wrapper {
        flex-direction: row;
    }

    .services-card {
        margin-bottom: 2em;
    }
}

/* Responsive Styles */
@media screen and (max-width: 900px) {

    .about {
        padding: 5em;
    }

    .about-left article p {
        font-size: 1.2rem;
        max-width: 30em;
    }

    .about-right img {
        width: 10em;
        height: 20em;
        border-radius: 2em;
        margin-top: 1em;
    }

    .resume {
        padding: 5em;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .resume-right {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }

    .resume-right h2 {
        font-size: 2.5rem;
        font-weight: 600;
        color: #fff;
        margin-bottom: 0.4em;
        text-align: center;
    }

    .resume-right p {
        font-size: 1.6rem;
        font-weight: 400;
        color: #D9D9D9;
        margin-bottom: 1em;
        max-width: 30em;
        text-align: center;
    }

    .resume-right button {
        margin: 2em 0;
    }

    .resume-images img {
        display: none;
    }

    .achievements-row {
        flex-direction: column;
        align-items: center;
    }

    .achievements-card {
        flex: 0 0 calc(100% - 20px);
        margin-right: 0;
        margin-left: 0;
        width: 100%;
        margin-bottom: 20px;
    }

    .services-card-wrapper {
        flex-direction: row;
    }

    .services-card {
        width: 45%;
        margin-bottom: 2em;
    }

    .faq {
        margin-bottom: 10em;
    }

    .faq h2 {
        font-size: 2rem;
    }

    .faq-toggle {
        font-size: 1.2em;
    }

    .faq-answer {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 768px) {
    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about {
        padding: 5em;
    }

    .about-left article p {
        font-size: 1.2rem;
        max-width: 30em;
    }

    .about-right img {
        width: 10em;
        height: 20em;
        border-radius: 2em;
        margin-top: 1em;
    }

    .programming-card {
        font-size: .5rem;
    }

    .panel-cards {
        flex-direction: column;
        align-items: center;
    }

    .panel-card {
        margin-right: 0;
        margin-bottom: 2em;
        width: 80%;
    }

    .resume {
        padding: 5em;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .resume-right {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }

    .resume-right h2 {
        font-size: 2.5rem;
        font-weight: 600;
        color: #fff;
        margin-bottom: 0.4em;
        text-align: center;
    }

    .resume-right p {
        font-size: 1.6rem;
        font-weight: 400;
        color: #D9D9D9;
        margin-bottom: 1em;
        max-width: 30em;
        text-align: center;
    }

    .resume-right button {
        margin: 2em 0;
    }

    .resume-images img {
        display: none;
    }

    .project-cards {
        flex-direction: column;
        align-items: center;
        max-width: none;
        margin-top: 2em;
    }

    .project-card {
        flex: 0 0 calc(100% - 20px);
        margin-right: 0;
        margin-left: 0;
        width: 80%;
        margin-bottom: 20px;
    }

    .achievements-row {
        flex-direction: column;
        align-items: center;
    }

    .achievements-card {
        flex: 0 0 calc(100% - 20px);
        margin-right: 0;
        margin-left: 0;
        width: 80%;
        margin-bottom: 20px;
    }

    .services-card-wrapper {
        flex-direction: column;
    }

    .services-card {
        width: 60%;
        margin-bottom: 2em;
    }

    .faq {
        margin-bottom: 5em;
    }

    .faq-toggle {
        font-size: 1.1em;
    }

    .faq-answer {
        font-size: 1.1em;
    }
}

@media screen and (max-width: 600px) {
    .programming-row {
        flex-direction: column;
        align-items: center;
        margin-bottom: -15em;
    }

    .programming-card {
        flex: 0 0 calc(100% - 20px);
        margin-right: 0;
        margin-left: 0;
        width: 90%;
    }
}

@media screen and (max-width: 375px) {
    header {
        justify-content: center;
    }

    .hero {
        margin: 15em 0;
    }

    .about {
        padding: 2em;
        margin-bottom: 10em;
    }

    .about h2 {
        font-size: 2rem;
        text-align: center;
    }

    .about-left article p {
        font-size: 1.3rem;
        max-width: 100%;
    }

    .about-right img {
        width: 80%;
        max-width: 300px;
        margin-top: 2em;
    }

    .programming-card {
        font-size: 1rem;
    }

    .resume {
        padding: 2em;
        margin-bottom: 5em;
    }

    .resume-right {
        padding-left: 0;
    }

    .resume-images img {
        width: 100%;
        max-width: none;
        margin-bottom: 2em;
    }

    .project-card {
        flex: 0 0 calc(100% - 20px);
        margin-right: 0;
        margin-left: 0;
        width: 80%;
        margin-bottom: 20px;
    }

    .achievements-card {
        width: 100%;
        margin-bottom: 2em;
    }

    .services-card-wrapper {
        flex-direction: column;

    }

    .services-card {
        width: 85%;
        margin-bottom: 2em;
    }

    .footer-social a {
        text-decoration: none;
        color: #cccccd;
        margin-right: 10px;
        font-size: 1.2em;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1400px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .footer-logo {
        margin-bottom: 1em;
    }

    .footer-links {
        margin-bottom: 1em;
    }

}

@media screen and (max-width: 428px) {

    footer {
        padding: 1em 0;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-logo img {
        max-width: 30px;
        margin-bottom: 0.5em;
    }

    .footer-links ul {
        margin-bottom: 0.5em;
    }

    .footer-links ul li {
        margin-right: 10px;
    }

    .footer-social a {
        margin-right: 10px;
        font-size: 1.2em;
    }
}


@media screen and (max-width: 480px) {
    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero {
        margin-bottom: 25em;
    }

    .about {
        padding: 5em;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-bottom: 5em;
    }

    .about h2 {
        font-size: 2.5rem;
        font-weight: 600;
        color: #F2F2F2;
        margin-bottom: 1em;
        text-align: center;
    }

    .about-left article p {
        font-size: 1.4rem;
        width: 25em;
        text-align: center;
    }

    .about-right img {
        width: 10em;
        height: 20em;
        border-radius: 2em;
        margin-top: 10em;
    }

    .programming-row {
        flex-direction: column;
        align-items: center;
        margin-bottom: -15em;
    }

    .programming-card {
        flex: 0 0 calc(100% - 20px);
        margin-right: 0;
        margin-left: 0;
        width: 90%;
    }

    .resume {
        padding: 5em;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .resume-images img {
        display: none;
    }

    .resume-right {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }

    .resume-right h2 {
        font-size: 2.5rem;
        font-weight: 600;
        color: #fff;
        margin-bottom: 0.3em;
        text-align: center;
    }

    .resume-right p {
        font-size: 1.6rem;
        font-weight: 400;
        color: #D9D9D9;
        margin-bottom: 1em;
        max-width: 30em;
        text-align: center;
    }

    .resume-right button {
        margin: 2em 0;
    }

    .project-cards {
        flex-direction: column;
        align-items: center;
        max-width: none;
        margin-top: 2em;
    }

    .project-card {
        flex: 0 0 calc(100% - 20px);
        margin-right: 0;
        margin-left: 0;
        width: 100%;
        margin-bottom: 20px;
    }

    .achievements-row {
        flex-direction: column;
        align-items: center;
    }

    .achievements-card {
        flex: 0 0 calc(100% - 20px);
        margin-right: 0;
        margin-left: 0;
        width: 80%;
        margin-bottom: 20px;
    }

    .services-card-wrapper {
        flex-direction: column;
    }

    .services-card {
        width: 85%;
        margin-bottom: 2em;
    }

    .faq {
        margin-bottom: 2em;
    }

    .faq h2 {
        font-size: 1.8rem;
    }

    .faq-toggle {
        font-size: 1em;
    }

    .faq-answer {
        font-size: 1em;
    }

    .footer-social a {
        text-decoration: none;
        color: #cccccd;
        margin-right: 10px;
        font-size: 1.2em;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1400px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .footer-logo {
        margin-bottom: 1em;
    }

    .footer-links {
        margin-bottom: 1em;
    }
}